.stopwatch
  .display.vcenter
    .time.timer.large.dragon {{model.formattedTime}}
    .split.timer.dark.medium.dragon {{model.formattedSplit}}
  
  .button-group.controls.vcenter
    .buttons
      button.button.button--go.mobile-one-whole.js-btn-start Start
      button.button.button--stop.mobile-one-whole.js-btn-stop Stop
      button.button.button--split.mobile-one-whole.js-btn-split Split
      button.button.button--reset.mobile-one-whole.js-btn-reset Reset

.splits
  .controls
    a.js-btn-copy Copy
  ul
    each split in model.get('splits').slice().reverse()
      li.timer= format(split)
