//
// CONTENT CENTER
// ==============
// Used for centering content
//


.content-center
  clearfix()
  margin-left auto
  margin-right auto
  max-width $base--max-width


// CONTENT GUTTER
// Ensures content doesn't touch browser edges on smaller screens

.content-gutter
  padding-left $content--gutter--mobile
  padding-right $content--gutter--mobile

+width-min($mq--tablet)

  .content-gutter
    padding-left $content--gutter
    padding-right $content--gutter

.centered
  text-align center
