$color--go = #10e257
$color--stop = #ff6a12
$color--split = #17a7d7
$color--bright = $color--stop

#app
  height 100%
  -webkit-touch-callout none
  -webkit-user-select none
  background-color lighten($color--black, 7%)

#app > div
  height 100%

.vcenter
  display flex
  align-items center
  flex-direction column
  justify-content center

.large
  font-size 20vw
  line-height 1em
  height 1em

.medium
  font-size 10vw
  line-height 1em

.timer
  text-align center
  color $color--bright

.timer.dark
  color darken($color--bright, 40%)

.stopwatch
  height 50%

  .display
    height 60%

    .timer
      text-align left
      width 3.9em

  .controls
    height 40%
    .buttons
      flex none
      width 100%
      text-align center
      .button
        padding 4% 5%
        font-weight bold
        border-radius 0.4em
        width 35%

@media (orientation landscape)
  .stopwatch
    height 100%

.splits
  margin 0
  min-height 50%
  line-height 1
  background-color lighten($color--black, 2%)
  li
    text-align center
    color lighten($color--black, 50%)
    list-style-type none
    margin 0
    padding 0.1em 0
    font-size 2em
  .controls
    text-align center
    a
      color lighten($color--black, 50%)
      text-decoration underline
      font-size 0.6em
      cursor pointer

.button
  color darken($color--black, 20%)
  border 1px solid $color--black
  font-size 6vw

.button--go
  color $color--white
  background-color darken($color--go, 20%)
  border 1px solid darken($color--go, 60%)

.button--stop
  color $color--white
  background-color darken($color--stop, 20%)
  border 1px solid darken($color--stop, 60%)

.button--split
  color $color--white
  background-color darken($color--split, 20%)
  border 1px solid darken($color--split, 60%)
