extend ../style-guide

block content

  h1 Prose Typography
  p Prose text generally appears on article pages or service pages. Any text that a User enters in a CMS will be styled this way.

  hr

  .prose

    h1 Heading 1 as text
    p Vivamus luctus urna sed urna ultricies ac tempor dui sagittis. In condimentum facilisis porta. Sed nec diam eu diam mattis viverra. Nulla fringilla, orci ac euismod semper, magna diam porttitor mauris, quis.
    p Phasellus molestie magna non est bibendum non venenatis nisl tempor. Suspendisse dictum feugiat nisl ut dapibus. Mauris iaculis porttitor posuere. Praesent id metus massa, ut.

    h2 Heading 2 as text
    p Curabitur vulputate, ligula lacinia scelerisque tempor, lacus lacus ornare ante, ac egestas est urna sit amet arcu. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Sed molestie augue sit amet leo consequat posuere. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices.

    h3 Heading 3 as text
    p Vivamus hendrerit arcu sed erat molestie vehicula. Sed auctor neque eu tellus rhoncus ut eleifend nibh porttitor. Ut in nulla enim. Phasellus molestie magna non est bibendum non venenatis nisl tempor. Suspendisse dictum feugiat.

    h4 Heading 4 as text
    p Vivamus hendrerit arcu sed erat molestie vehicula. Sed auctor neque eu tellus rhoncus ut eleifend nibh porttitor. Ut in nulla enim. Phasellus molestie magna non est bibendum non venenatis nisl tempor. Suspendisse dictum feugiat.

    h5 Heading 5 as text
    p Vivamus hendrerit arcu sed erat molestie vehicula. Sed auctor neque eu tellus rhoncus ut eleifend nibh porttitor. Ut in nulla enim. Phasellus molestie magna non est bibendum non venenatis nisl tempor. Suspendisse dictum feugiat.

    h6 Heading 6 as text
    p Vivamus hendrerit arcu sed erat molestie vehicula. Sed auctor neque eu tellus rhoncus ut eleifend nibh porttitor. Ut in nulla enim. Phasellus molestie magna non est bibendum non venenatis nisl tempor. Suspendisse dictum feugiat.

    hr

    h1 Heading 1 as text
    h2 Heading 2 as text
    h3 Heading 3 as text
    h4 Heading 4 as text
    h5 Heading 5 as text
    h6 Heading 6 as text

    hr

    h1: a(href='#') Heading 1 as a link
    h2: a(href='#') Heading 2 as a link
    h3: a(href='#') Heading 3 as a link
    h4: a(href='#') Heading 4 as a link
    h5: a(href='#') Heading 5 as a link
    h6: a(href='#') Heading 6 as a link

    hr

    ol
      li Ordered list item 1
      li Ordered list item 2
        ol
          li Nested ordered list item 1
          li Nested ordered list item 2
          li Nested ordered list item 3
      li Ordered list item 3
      li Ordered list item 4. ut in nulla enim. phasellus molestie magna non est bibendum non venenatis nisl tempor. suspendisse dictum feugiat nisl ut dapibus. mauris iaculis porttitor posuere. praesent id metus massa, ut blandit odio. proin quis tortor orci. etiam at risus et justo dignissim congue. donec congue lacinia dui.
      li Ordered list item 5

    ul
      li Unordered list item 1
      li Unordered list item 2
        ul
          li Nested unordered list item 1
          li Nested unordered list item 2
          li Nested unordered list item 3
      li Unordered list item 3
      li Unordered list item 4. Ut in nulla enim. Phasellus molestie magna non est bibendum non venenatis nisl tempor. Suspendisse dictum feugiat nisl ut dapibus. Mauris iaculis porttitor posuere. Praesent id metus massa, ut blandit odio. Proin quis tortor orci. Etiam at risus et justo dignissim congue. Donec congue lacinia dui.
      li Unordered list item 5

    dl
      dt Definition Title
      dd Definition Description
      dt Definition Title
      dt Definition Title
      dd Definition Description
      dt Definition Title
      dd Definition Description
      dd Definition Description

    hr

    h2 Lists

    ul.list--unstyled
      li Unstyled list item 1
      li Unstyled list item 2
      li Unstyled list item 3

    ul.list--inline
      li Inline list item 1
      li Inline list item 2
      li Inline list item 3

    ul.list--comma
      li Comma list item 1
      li Comma list item 2
      li Comma list item 3

    hr

    p #[a(href='#') This is a text link]

    p #[strong Strong is used to indicate strong importance]

    p #[em This text has added emphasis]

    p The #[b b element] is stylistically different text from normal text, without any special importance

    p The #[i i element] is text that is set off from the normal text

    p #[del This text is deleted] and #[ins This text is inserted]

    p #[s This text has a strikethrough]

    p Superscript#[sup ®]

    p Subscript for things like H#[sub 2]O

    p #[small This “small” text is for fine print, etc.]

    p Abbreviation: #[abbr(title='HyperText Markup Language') HTML]

    p Keybord input: #[kbd Cmd]

    p #[q(cite='https://developer.mozilla.org/en-US/docs/HTML/Element/q')] This text is a short inline quotation

    p #[cite This is a citation]

    p The #[dfn dfn element] indicates a definition

    p The #[mark mark element] indicates a highlight

    p #[code This is what inline code looks like]

    p #[samp This is sample output from a computer program]

    p The #[var variarble element] , such as #[var x] = #[var y]

    hr

    pre
      | A B C D E F G H I J K L M
      | N O P Q R S T U V W X Y Z
      | a b c d e f g h i l k l m
      | n o p q r s t u v w x y z
      | 1 2 3 4 5 6 7 8 9 0 # ? !
      | @ £ $ % ^ & * ( ) ; ' " /

    pre
      code
        | &lt;!DOCTYPE html&gt;
        | &lt;html&gt;
        |   &lt;head&gt;
        |   &lt;/head&gt;
        |   &lt;body&gt;
        |       &lt;h1 class="site-title"&gt;Site Title&lt;div&gt;
        |   &lt;/body&gt;
        | &lt;/html&gt;
